<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pronko_authorizenet>
                <title>Pronko Authorize.NET Payment</title>
                <model>PronkoAuthorizenetFacade</model>
                <active>1</active>
                <is_geteway>1</is_geteway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <cctypes>VI,MC</cctypes>
            </pronko_authorizenet>
        </payment>
    </default>
</config>